<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>Home</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

        $(document).ready(function(){
            $('#usernameDb').keyup(function(){
                var data = $("#regForm1").serialize()   // capture all the data in the form in the variable data
                $.ajax({
                    method: "GET",   // we are using a post request here, but this could also be done with a get
                    url: "/usersearch",
                    data: data
                })
                .done(function(res){
                     $('#usernameMsg1').html(res)  // manipulate the dom when the response comes back
                })
            })
            $('#usernameDb').keydown(function(){
                $('#usernameMsg1').empty();
            });
        })

    </script>

</head>
<body>
    <div id="wrapper">
        <!-- Menu -->
        <div class="left_content">
            <a href="/home" class="leht-row" >Home</a>
            <a href="/profile/{{user.user_id}}" class="leht-row">Profile</a>
            <!-- <button onclick="changeBgColor('#FFF'); ">Display</button> -->
            <div class="dropdown" class="leht-row">
                <span>Display</span>
                <div class="dropdown-content">
                    <button onclick="changeBgColor('#FFF'); " class="chBG">White</button><br>
                    <button onclick="changeBgColor('#00203FFF'); " class="chBG">Dark</button>
                </div>
            </div>
            <a href="/logout" class="leht-row">Log Out</a>
        </div>

        <div class="middle_content">
            <div class="pageTitle decoration">
                <h1>Profile</h1>
            </div>
            <div class="first_divP decoration">  
                <h1 > {{user.first_name}} {{user.last_name}} </h1>
            </div>
            <div class="decF">
                <p class="followingfollowed">Followers: {{followers.followers}}</p>
                <p class="followingfollowed">Following: {{following.following}}</p>
            </div>
            <div class="decoration posts" >
                <h1>Posts:</h1>
            </div>
            
        {% for tweet in tweets %}
            <div class="decoration">
                <h1 class="displayUserInformations"> {{tweet.first_name}} {{tweet.last_name}} <span class="dot"></span>
                {% if tweet.time_since_posted[0] %}
                    {{tweet.time_since_posted[0]}} d
                {% elif tweet.time_since_posted[1] %}
                    {{tweet.time_since_posted[1]}} h
                {% elif tweet.time_since_posted[2] %}
                    {{tweet.time_since_posted[2]}} min
                {% else %}
                    less than a minute
                {% endif%}
                ago </h1>
                <div class="tweetContent">
                    <pre>{{tweet.content}}</pre>
                </div>
                <div class="buttons">
                    {% if tweet.already_liked %}
                    <a href='/tweetsP/{{tweet.tweet_id}}/unlike'><button >Unlike</button></a>
                    {% else %}
                    <a href='/tweetsP/{{tweet.tweet_id}}/add_like'><button>Like</button></a>
                    {% endif %}
                
                    {% if session['user_id'] == tweet.user_id %}
                    <a href='/tweetsP/{{tweet.tweet_id}}/delete'><button>Delete</button></a>
                    {% endif %}
                    <p>{{tweet.times_liked}} likes</p>
                </div>

            </div>
        {% endfor %} 

        </div>

        <div class="right_content">
            <div class="searchBar">
                <form method="GET" action="/usersearch" id="regForm1">  
                    <input id="usernameDb" type="text" placeholder="Search" name="first_name" class="search">
               </form>
               
               <div id="usernameMsg1"></div> 
            </div>
            </div>
        </div>
    </div>
    
</body>
</html>